.header{
    background: white !important;
    height: 80px;

    .MuiContainer-maxWidthXl {
        max-width: 1120px !important;
    }
    .MuiToolbar-regular {
        min-height: 80px !important;
        display: flex;
        justify-content: space-between;
    }
    .menu {
        display: flex;
        align-items: center;
        font-size: toRem(18);
        line-height: toRem(21);
       
        .user-info{
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;

            & > div{
                margin-right: 10px;   
            }
        }
        li {
            list-style: none;
        }
    }
    &-toolbar {
        // float: right;
        display: flex;
        justify-content: space-around;
    }
}