.home {
    &-title{
        display: flex;
        justify-content: space-between;
        padding: 40px 0;

        .new-post-btn{
            display: flex;
            align-items: center;
        }
    }
}